/* Removes the clear button from date inputs */
input[type="date"]::-webkit-clear-button {
  display: none;
}

/* Removes the spin button */
input[type="date"]::-webkit-inner-spin-button { 
  display: none;
}

/* Always display the drop down caret */
input[type="date"]::-webkit-calendar-picker-indicator {
  color: #2c3e50;
}

/* A few custom styles for date inputs */
input[type="date"] {
  appearance: none;
  border-radius: 4px;
  -webkit-appearance: none;
  color: #166EAD;
  /* color: #95a5a6; */
  font-family: "Helvetica", arial, sans-serif;
  font-size: 14px;
  border:1px solid #ecf0f1;
  background:#ecf0f1;
  padding:5px;
  display: inline-block !important;
  visibility: visible !important;
  margin-right: 20px;
}

input[type="date"], focus {
  color: #95a5a6;
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
}

.is-groped {
  display: inline;
  padding: 10px;
}


select {
  padding:5px;
  height: 30px;
  margin: 8px 0;
  font-family: "Helvetica", arial, sans-serif;
  font-size: 14px;
  display: inline-block;
  border:1px solid #ecf0f1;
  background:#ecf0f1;
  color: #95a5a6;
  border-radius: 4px;
  /* box-sizing: border-box; */
}