.griddle{
    margin-top: 15px;
  }
  
  .griddle-container{
    border:1px solid #DDD;
  }
  
  .griddle .top-section{
    clear:both;
    display:table;
    width:100%;
  }
  
  .griddle .griddle-filter{
    border: 1pt solid #ddd;
    border-radius: 5px;
    display: inline-block;
    font-size: 15px;
    float: left;
    padding-left: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    padding: 5px 10px 5px 10px;
  }
  
  .filter-container input[type="text"]{
    -moz-appearance: none;
    -webkit-appearance: none;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: white;
    border: 1px solid #dbdbdb;
    border-radius: 3px;
    color: #363636;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    font-size: 14px;
    height: 32px;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    line-height: 24px;
    padding-left: 8px;
    padding-right: 8px;
    position: relative;
    vertical-align: top;
    box-shadow: inset 0 1px 2px rgba(10, 10, 10, 0.1);
    max-width: 100%;
    width: 100%;
    margin-bottom: 15px;
  }
  
  .griddle .griddle-settings-toggle{
    float: right;
    border: 1pt solid #ddd;
    border-radius: 5px;
    padding: 5px 10px 5px 10px;
    background-color: #ddd;
    color: #95a5a6;
    font-size: 12px;
  }
  
  .griddle .griddle-settings-toggle button{
    display: inline-block;
    height: 38px;
    padding: 0 30px;
    /* color: #555; */
    text-align: center;
    font-size: 11px;
    font-weight: 600;
    line-height: 32px;
    letter-spacing: .1rem;
    text-transform: uppercase;
    text-decoration: none;
    white-space: nowrap;
    background-color: transparent;
    border-radius: 4px;
    border: 1px solid #bbb;
    cursor: pointer;
    box-sizing: border-box;
  }
  .griddle .griddle-settings{
    clear:both;
    background-color:#FFF;
    border:1px solid #DDD;
    color:#222;
    padding:10px;
    margin-bottom:0px;
  }
  
  .griddle .griddle-settings .griddle-columns{
    clear:both;
    display:table;
    width:100%;
    border-bottom:1px solid #EDEDED;
    margin-bottom:10px;
  }
  
  .griddle .griddle-settings .griddle-column-selection{
    float:left;
    width:20%;
  }
  .griddle table{
    width:100%;
    table-layout:fixed;
  }
  
  .griddle th{
    border: 2pt solid #166EAD;
    background-color: #166EAD;
    padding: 10px;
    color: #FFFFFF;
    border-radius: 3px
  }
  
  .griddle td{
    border: 2pt solid #166EAD;
    padding: 10px;
    color: #166EAD;
    text-align: center;
  }
  
  .griddle .footer-container{
    padding:0px;
    background-color:#EDEDED;
    border:0px;
    color:#222;
  }
  
  .griddle .griddle-previous-button, .griddle .griddle-page-select, .griddle .griddle-next-button{
    float: left;
    min-height:1px;
    margin-top:5px;
    margin-left: 10px;
    border: 1pt solid #ddd;
    border-radius: 5px;
    padding: 6px 10px 6px 10px;
    color: #95a5a6;
    background-color: #ddd;
    font-size: 12px;
  }
  
  .griddle-pagination {
    float: right;
  }

  .griddle .griddle-page-select{
    text-align:center;
    line-height: 24px;
    margin-left: 10px;
  }
  
  .griddle-page select{
    -webkit-appearance: none;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: white;
    border: 1px solid #dbdbdb;
    border-radius: 3px;
    color: #363636;
    display: inline-block;
    max-height: 24px;
    font-size: 14px;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    line-height: 24px;
    padding-left: 8px;
    padding-right: 8px;
    position: relative;
    vertical-align: top;
    cursor: pointer;
    outline: none;
    padding-right: 8px;
    margin-left: 10px;
  }
  
  .griddle .griddle-next-button{
    text-align:right;
  }
  
  .griddle-cell .wide-column{
    width: 20%;
  }
  .griddle-body .extra-line-height{
    line-height: 24px;
    font-weight: bold;
    cursor: pointer;
    background-color:#FFF;
  }
  
  .wrapper-griddle {
    margin-top: 20px;
    clear: both;
  }
  
  .griddle-noResults {
    position: relative;
    border: 1px solid #ccc;
    top: 55px;
    padding: 71px;
    background-color: #fff;
    text-align: center;
    height: 80px;
    margin-bottom: 20px
  }
  
  .flex-center {
    justify-content: center !important;
  }
  
  .wrapper-griddle-negativefiles {
    margin-top: 20px;
  }
  
  .wrapper-open-contact {
    margin-top: 50px !important;
  }
  
  .ajust-flex-center {
    justify-content: center !important;
  }