.position {
    width: 20%;
    position: relative;
    vertical-align: middle;
}

body {
    margin: 0px;
}

@media (min-width:1200px) {
  .header {
    height: 120px;
    /* background-color: gray; */
    border-radius: 15px;
  }    
  .content {
    /* border: solid pink;  */
    margin-top: 15px;
  }  
  .left-panel {
    /* border: solid blue; */
    float: left;
    width: 20%;
    height: 615px;
  }
  .nevbar {
    /* background-color: #4775A3; */
    width: 100%;
    height: 615px;
    border-radius: 15px;
  }
  .right-section {
    /* background-color: #E6B800; */
    height: 615px;
    border-radius: 15px;
    width: 78%;
    float: right;
  }
  .right-header {
    /* background-color: #FFFAF0; */
    margin: 5px;
    height: 80px;
    border-radius: 15px;
  }
  .right-content {
    /* background-color: #D3D3D3; */
    margin: 5px;
    height: 495px;
    border-radius: 15px;
  }
  .content::after{
    content: " ";
    display: block;
    clear: both;
  }
  .footer {
      height: 100px;
      /* background-color: #ADADFF; */
      border-radius: 15px;
      margin-top: 15px;
  }
}
.wrapper{
    /* border: solid ; */
    /* padding: 15px; */
}

.left-panel {
    width: 20%
}

.container {
    width: 970px;
    margin-left: auto;
    margin-right: auto;
}
.col-1 {
    width: 25%;
    float: left;
}

.inline{
    display: inline;
    margin-left: 60px;
    color: #166EAD ;
    font-size: 30px;
    height: 100%;
    width: 60%;
}
.center table {
    border-radius: 3px;
    border-collapse: collapse;
    margin: 0 auto;
    font-size: 12px
}
.center th {
    border: 2pt solid #166EAD;
    background-color: #166EAD;
    padding: 10px;
    color: #FFFFFF;
    border-radius: 3px
}
.center td {
    border: 2pt solid #166EAD;
    padding: 10px;
    color: #166EAD;
    text-align: center;
}

/* --------------  test griddle  -----------------------*/


.right-content table {
    border-radius: 3px;
    border-collapse: collapse;
    /* margin: 0 auto; */
    margin: 10px;
    font-size: 12px;
    width: 95%;
}
.right-content th {
    border: 2pt solid #166EAD;
    background-color: #166EAD;
    padding: 10px;
    color: #FFFFFF;
    border-radius: 3px
}

.right-content td {
    border: 2pt solid #166EAD;
    padding: 10px;
    color: #166EAD;
    text-align: center;
}

.center1 {
    align-content: center;
    width: 70%;
    height:100%;
    float: right;
}

/* --------------  test griddle  -----------------------*/

.topbar {
    border-bottom: 2px solid;
    border-bottom-color: #166EAD;
    box-shadow: 0 5px 4px rgba(182, 182, 182, 0.75);    
    margin-bottom: 20px;
    padding: 10px;
    font: 16px arial, sans-serif; 
}
.center {
    position:absolute;
    align-content: center;
    width:100%;
    height:100%;
    margin-top: 100px;
    float: left;
    z-index: -1;
}


/*----------------------- progressbar ---------------------*/
.container_progressbar {
    width: 100%;
    padding-top:300px; 
    margin: 0px;
}
.progressbar {
    counter-reset: step;
}
.progressbar li {
    list-style-type: none;
    float: left;
    width: 23.33%;
    position: relative;
    text-align: center;
}
.progressbar li:before {
    content: counter(step);
    counter-increment: step;
    width: 30px;
    height: 30px;
    line-height: 30px;
    border: 3px solid #ddd;
    display: block;
    text-align: center;
    margin: 0 auto 10px auto;
    border-radius: 50%;
    background-color: white; 
}
.progressbar li:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #ddd;
    top:15px;
    left: -50%;
    z-index: -1;
}
.progressbar li:first-child:after {
    content: none;
}
.progressbar li.finish {
    color: #166EAD;
}
.progressbar li.wait:before {
    border: 3px solid #ddd;
}
.position li.wait + li:after {
    background-color: #ddd;
}
.progressbar li.finish:before {
    border-color: #166EAD;
}
.progressbar li.error:before {
    border-color: red;
}
.progressbar li.nexterror:before{
    border-color: #166EAD;
}
.progressbar li.nexterror + li:after {
    background-color: red;
}
.progressbar li.finish + li:after {
    background-color: #166EAD;
}

/*----------------------- progressbar ---------------------*/


.login-hide {
    float: right;
    display: none;
}
.login{
    float: right;
}
.login button{
    padding: 10px;
    font-weight: bold;
    color: white;
    background-color: #166EAD;
    border: 1px solid #166EAD;
    border-radius: 5px;
    margin-top: 20px;    
}
.login button:hover{
    border-color: #166EAD;
    background-color: white;
    color: #166EAD
}
.salemenu li{
    list-style-type: none;
    font-size: 20px;
    padding: 5px;
    /* border-bottom: 2px solid #166EAD; */
    color: gray;
}
.salemenu li:hover{
    /* background-color: #166EAD; */
    color: #166EAD
}
.salemenu li.active{
    background-color: #166EAD;
    color: white  
}
.salemenu  {
    width: 180px;
    padding-left:40px; 
    /* text-align: center; */
    float: left;
    margin-top: 100px
}
.salemenu a:link{
    text-decoration: none;
}

.statusmenu {
    margin: 0 auto;
    float: left;
    padding-left: 5px;
}
.statusmenu li.is-active {
    color: #166EAD;
    border-bottom: 2px solid #166EAD;
}

.statusmenu li {
    list-style-type: none;
    font: 17px arial, sans-serif;    
    float: left;
    position: relative;
    text-align: center;
    padding-right: 10px ;
    padding-left: 10px ;
    color: gray;
    border-bottom: 1px solid gray;
}
/* .statusmenu p:hover{
    border-bottom: 2px solid #166EAD;
} */


.date {
    padding: 50px;
    margin: 30px;
}
.date label{
    color: #166EAD;
}

.is-active {
    color: #166EAD;
    border-bottom: 2px solid #2E76A8;
}